body {
    font-family: 'Muli', sans-serif;
    background-color: #F8F8F8;
}

.center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

.avatar {
    height: 17%;
    width: 17%;
    border-radius: 50%;
    /* border: 3px solid #393939; */
    border: 4px solid rgba(73, 90, 157, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutme {
    margin-top: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.insideAboutMe {
    font-size: 18px;
    text-align: center;
}

.experience {
    margin-top: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    float: left;
    width: 33.33%;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icons p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.experience:after {
    content: "";
    display: table;
    clear: both;
}

/* rgba(73, 90, 157, 1) */